<head>
  <title><%= title %></title>
  <meta name="description" content="<%= description %>">
  <meta http-equiv="refresh" content="2; URL=<%= longUrl %>" />
</head>
<body>
  <p>If you are not redirected in 2 seconds, <a href="<%= longUrl %>">click here</a>.</p>
</body>
